*{
  
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg,rgb(55, 55, 173),rgb(139, 75, 202),rgb(220, 174, 101),rgb(248, 203, 140));
    background-size: 400% 400%;
    animation:hadjer 15s ease infinite;
}
@keyframes hadjer{
    0%{
     background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}
#game{
    width: 500px;
    height: 200px;
    border: 2px solid rgb(34, 33, 33);
    border-radius: 10px;
    background-color: beige;
}
#character{
    width: 20px;
    height: 50px;
    background-color: rgb(178, 135, 213);
    border-radius: 3px;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: rgb(114, 116, 112);
    border-radius: 3px;
    position: relative;
    top:130px;
    left:480px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}

